@import "../css/reset.css";
@import "../css/grid.css";
@import "../fonts/mau.css";
@import "../css/jquery.formstyler.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:19px;
  color:#111111;
  min-width:1000px;
  background:#fff;
  -webkit-text-size-adjust: none;
}


/*----------------------> Links And buttons <------------------*/
a {
  color:#111;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}

.exb_btn{
  outline: none;
  box-shadow: 0 8px 0 rgba(0,0,0,0.1);
  display: block;
  width: 542px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 23px 20px 26px;
  cursor: pointer;
  font-size: 34px;
  line-height: 1.23;
  color: #fff;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  background: #67c451; /* Old browsers */
background: -moz-linear-gradient(top,  #67c451 0%, #55be4e 50%, #39b54a 51%, #39b54a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67c451), color-stop(50%,#55be4e), color-stop(51%,#39b54a), color-stop(100%,#39b54a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #67c451 0%,#55be4e 50%,#39b54a 51%,#39b54a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #67c451 0%,#55be4e 50%,#39b54a 51%,#39b54a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #67c451 0%,#55be4e 50%,#39b54a 51%,#39b54a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #67c451 0%,#55be4e 50%,#39b54a 51%,#39b54a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c451', endColorstr='#39b54a',GradientType=0 ); /* IE6-9 */
}
.exb_btn:hover{
  background: #39b54a;
}


.link{
  text-decoration: underline;
}
.big_btn{
  display: inline-block;
  width: 272px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  background: #69d306; /* Old browsers */
  background: -moz-linear-gradient(top,  #69d306 0%, #27c608 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69d306), color-stop(100%,#27c608)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #69d306 0%,#27c608 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #69d306 0%,#27c608 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #69d306 0%,#27c608 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #69d306 0%,#27c608 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d306', endColorstr='#27c608',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
  padding: 9px 40px 11px;

}

#content_w {padding: 79px 0px 5px;}
.cont_pad{padding:0 0 0 0 !important;}


header .big_btn{
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 0 0 28px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}



/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.whitespace{white-space: nowrap;}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.hidden_box{
  visibility: hidden;
  overflow: hidden;
  height: 0;
}
.val_mid{vertical-align: middle;}

.mau{
  font-family: 'maurysselregular'; 
}
.maub{
  font-family: 'maurysselbold';
}
.fz_12{
  font-size: 12px;
  line-height: 1.23;
}
.fz_15{
  font-size: 15px;
  line-height: 1.23;
}

.fz_17{
  font-size: 17px;
  line-height: 1.23;
}

.fz_18{
  font-size: 17px;
  line-height: 1.23;
}

.fz_19{
  font-size: 19px;
  line-height: 1.23;
}

.fz_22{
  font-size: 22px;
  line-height: 1;
}

.fz_24{
  font-size: 24px;
  line-height: 1;
}

.fz_25{
  font-size: 25px;
  line-height: 1.23;
}

.fz_28{
  font-size: 28px;
  line-height: 1.23;
}

.fz_29_5{
  font-size: 29.5px;
  line-height: 1.23;
}
.fz_33{
  font-size: 33px;
  line-height: 1.7;
}
.fz_31{
  font-size: 31px;
  line-height: 1;
}

.fw_bold{
  font-weight: bold;
}

.fz_27{
  font-size: 27px;
  line-height: 1.3;
}
.fz_30{
  font-size: 30px;
  line-height: 1.3;
}
.fz_34{
  font-size: 34px;
  line-height: 1.3;
}
.fz_47{
  font-size: 47px;
}

.blue{
  color: #00467f;
}
.green{
  color: #27c608;
}
.red{
  color: #d82b27;
}

.fz_11{
  font-size: 11px;
  left: 1.23em;
}

.td_und{
  text-decoration: underline;
}
  ..td_und:hover{
    text-decoration: none;
  }

.gray{
  color: #707070;
}
.gray2{
  color: #898989;
}
.gray36{
  color: #363636;
}

.fw_reg{
  font-weight: 500;
}

.pattern_bg{
  background: #f6f4ea url(../images/pattern.png) 50% 50% repeat;
}

.white_bg{
  background-color: #fff;
}
/*----------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after,
.row:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

.explain {
font-size: 10pt;
padding: 15px 0px;

}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
.fw_bold{font-weight: bold;}


/*======================> Header <======================*/

header {
  padding: 19px 0;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 10px 15px rgba(0,0,0,.04);
}
  .logo{
    padding: 0px 0;
  }
    .logo a{
      display:block;
      width:290px;
      height:80px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
      position:absolute;
    }
.header_phone{
  padding: 12px 0 0;
}
  .header_phone_num{
    margin-bottom: -5px;
  }


/*=====================> Content ========================*/
#content {padding: 198px 0px 5px;
min-height: 750px;}
.cont_pad{padding:0 0 0 0 !important;}

.content_title1{
  padding: 0 0 0 32px;
  line-height: 1.5;
}

[class^="content_item"]{
  position: relative;
}

.content_item1{
  width: 456px;
  height: 357px;
  text-align: right;
  background: url(../images/action_bg1.png) 0 0 no-repeat;
  padding: 14px 24px 0 0;
}

.content_item2{
  width: 366px;
  height: 258px;
  margin:  85px 81px 0 0;
  text-align: right;
  background: url(../images/action_bg2.png) 0 0 no-repeat;
  padding: 15px 51px 0 0;
}
    .content_item_img_2_1{
      position: absolute;
      top: -122px; 
      left: -4px;   
    }

.content_item3{
  width: 485px;
  height: 402px;
  margin: 10px 0px 0 -11px;
  text-align: right;
  background: url(../images/action_bg3.png) 0 0 no-repeat;
  padding: 15px 51px 0 0;
}

  .content_img_3{
    margin: -7px -82px 0 0;
  }

.content_item4{
  width: 428px;
  height: 343px;
  margin: 43px -50px 0 0px;
  text-align: right;
  background: url(../images/action_bg4.png) 0 0 no-repeat;
  padding: 15px 51px 0 0;
}
  .content_item4_img{
    margin: -60px 0px 0 -15px;
  }

.content_item5{
  width: 455px;
  height: 319px;
  margin: 35px 0px 0 17px;
  text-align: left;
  background: url(../images/action_bg5.png) 0 0 no-repeat;
  padding: 15px 51px 0 0;
}
  .content_img5{
    margin: -31px 0px 0 -5px;
  }

.content_item6{
  width: 404px;
  height: 340px;
  margin: 35px 29px 0 17px;
  text-align: right;
  background: url(../images/action_bg6.png) 0 0 no-repeat;
  padding: 41px 0px 0 57px;
}
  .content_img6{
    margin: -32px 0px 0 0px;
  }
  .content_img6_1{
    top: 10px;
    left: 134px;
  }

.content_title{
  margin-top: 43px;
  -moz-transform: rotate(3deg) translateX(-45px);
  -webkit-transform: rotate(3deg) translateX(-45px);
  -o-transform: rotate(3deg) translateX(-45px);
  -ms-transform: rotate(3deg) translateX(-45px);
  transform: rotate(3deg) translateX(-45px);
}

.content_item7{
  width: 417px;
  height: 268px;
  margin: -44px 0px 0 31px;
  background: url(../images/action_bg7.png) 0 0 no-repeat;
  padding: 0 0px 0 0px;
}
  .content_img7{
    margin: -52px 0 0 -61px;
  }
.content_item8{
  width: 608px;
  height: 314px;
  text-align: center;
  padding: 33px 0 0 14px;
  margin: -105px -25px 0 0px;
  background: url(../images/action_bg8.png) 0 0 no-repeat;
}
  .content_img8_1{
    top: 33px;
    left: 98px;
  }
  .content_img8_2{
    top: 67px;
    right: 19px;

  }


.white_box{
  position: relative;
  margin: 67px 0;
  background: #fcfbf6;
}
  .white_box:before,
  .white_box:after{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 40px;
    content: "";
  }
    .white_box:before{
      background: url(../images/white_box_top.png) 50% 0 no-repeat;
    }
    .white_box:after{
      background: url(../images/white_box_bot.png) 50% 0 no-repeat;
    }


  .splash_box{
    height: 285px;
    width: 949px;
    word-spacing: 10px;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    padding: 110px 0 0;
    margin: -60px 0 0;
    background: url(../images/splash_box_bg.png) 0 0 no-repeat;
  }

.order_form{
   padding: 60px 80px 85px;
   margin-bottom: 180px;
}


.rotate{
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.w_85{
  width: 85px;
}
.w_167{
  width: 167px;
}
.w_109{
  width: 109px;
}

.form_label2{
  display: block;
  float: left;
  width: 170px;
  padding: 7px 0 0;
}
.txt_field_wrap{
  margin-right: 8px;
}
.checkbox_wrap1{
  width: 40px;
}

.invalid.txt_field{
  border-color: red;
}



.rules_box{
  padding: 64px 110px;
}

/*------------------  FORMA pages  ---------------*/
.thanks_block{
    padding: 0 55px;
    margin-top: -30px;
}


  .green_btn1,
  .green_btn2{
    width: 418px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 8px 0 rgba(0,0,0,0.1);
    background: url(../images/green_btn_bg.png) 0% 0% no-repeat;
    -webkit-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
  }
  .green_btn1 a,
  .green_btn2 a{
    font-weight: 700;
    color: #FEFDFC;
    font-size: 21px;
    line-height: 1.2;
    text-align: left;
    padding: 20px 20px 20px 74px;
    display: inline-block;
    width: 100%;
  }
    .green_btn1 a:hover,
    .green_btn2 a:hover{
      color: #0E6CAE;
    }
  .green_btn1:before,
  .green_btn2:before{
    width: 44px;
    height: 44px;
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
  }
    .green_btn1:before{
      background: url(../images/change_icon.png) 0% 0% no-repeat;
    }
    .green_btn2:before{
      background: url(../images/location_icon.png) 0% 0% no-repeat;
    }
    .center_span{
      display: inline-block;
      padding: 37px 33px;
    }

/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}

.mt6{margin-top: 6px;}
.mt50{ margin-top:50px;}

.mb_zero{margin-bottom: 0 !important;}
.mb2{ margin-bottom:2px;}
.mb4{ margin-bottom:4px;}
.mb6{ margin-bottom:6px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb14{ margin-bottom:14px;}
.mb16{ margin-bottom:16px;}
.mb18{ margin-bottom:18px;}
.mb20{ margin-bottom:20px;}
.mb22{ margin-bottom:22px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb40{ margin-bottom:40px;}
.mb42{ margin-bottom:42px;}
.mb44{ margin-bottom:44px;}
.mb46{ margin-bottom:46px;}
.mb48{ margin-bottom:48px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}

.mb53{ margin-bottom:53px;}
.mb60{ margin-bottom:60px;}
.mb62{ margin-bottom:62px;}
.mb65{ margin-bottom:65px;}
.mb67{ margin-bottom:67px;}
.mb68{ margin-bottom:68px;}
.mb69{ margin-bottom:69px;}
.mb72{ margin-bottom:72px;}
.mb80{ margin-bottom:80px;}
.mb135{ margin-bottom:135px;}

.mr45{margin-right: 45px;}
.mr64{margin-right: 64px;}
.mr55{margin-right: 55px;}
.mr34{margin-right: 34px;}

.ml153{margin-left: 153px;}
.ml270{margin-left: 270px;}


/*=====================> Lists ========================*/
.list1{
  font-size: 25px;
  line-height: 1.23;
}
.list1_item{
  background:url(../images/marker1.png) 0 0px no-repeat;
  padding-left:40px;
  margin-bottom: 15px;
}
.list1_link{}


.list2_item{
  margin-bottom: 15px;
}

.list3{
  padding: 0 0 0 25px;
}
  .list3_item{
    margin-bottom: 17px;
    padding: 0 0 0 18px;
    background: url(../images/marker2.png) 0 6px no-repeat;
  }

.list4{
  padding: 0 0 0 22px;
}
.list4_item{
  margin-bottom: 11px;
  padding: 0 0 0 28px;
  background: url(../images/marker3.png) 0 0px no-repeat;
}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}

.title1{
  line-height: 1.2;
  text-align: center;
}
.title2{
  font-size: 27px;
  line-height: 1.2;
  font-weight: bold;
  color: #00467F;
  margin-bottom: 30px;
}
.title3{
  font-size: 17px;
  color: #7D7D7D;
  margin-bottom: 20px;
  font-weight: 500;
}
/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/

.txt_field{
  margin:0;
  width: 100%;
  font-size:17px;
  border:1px solid #c2c2c2;
  color:#7d7d7d;
  padding:6px 22px 7px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form_row{
  margin-bottom: 18px;
}
.form_row_box{}
  .form_label_first{
    width: 150px;
    display: inline-block;
  }
  [class^="form_label"]{
    color: #7D7D7D;
    font-size: 17px;
    line-height: 2.3;
    padding-right: 5px;
    display: inline-block;
  }
  [class^="form_input"]{
    color: #7D7D7D;
    height: 39px;
    border: 1px solid #c2c2c2;
    outline: none;
    padding: 0 10px;
    line-height: 1.2;
  }
  .form_hint{
    color: #9B9B9B;
    font-size: 15px;
    font-style: italic;
  }
  .label_lh{
    line-height: 1;
  }
  .form_input72{
    width: 72px;
  }
  .form_input118{
    width: 118px;
  }
  .form_input175{
    width: 175px;
  }
  .form_input385{
    width: 385px;
  }
  .form_input536{
    width: 536px;
  }
  .form_input627{
    width: 627px;
  }
  .form_span_radio{
    font-size: 17px;
    line-height: 2;
    display: inline-block;
  }
  .form_input_radio:checked + .form_span_radio{
    background-position: 0% 80%;
  }
  .form_last_block{
    margin-top: 50px;
  }
  [data-color="grey_light"]{
    color: #898989;
  }
  .form_link{
    color: #00467F;
    font-weight: 500;
    display: inline;
    border-bottom: 1px dashed #00467F;
  }
    .form_link:hover{
      border-bottom-color: transparent;
    }
  .form_file_upload{
    display: block;
    position: relative;
    overflow: hidden;
  }
    .form_file_upload_btn{
      width: 162px;
      height: 100%;
      float: right;
      font-size: 17px;
      color: #fff;
      padding: 10px 15px;
      border: none;
      -webkit-border-radius: 12px;
              border-radius: 12px;
      background-color: #00467F;
      display: block;
      box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .upload_file_box{
      display: inline-block;
      cursor: pointer;
      width: 320px;
      height: 39px;
      padding: 0 12px 0 43px;
      border: 1px solid #C2C2C2;
      background: transparent url(../images/clip.png) 12px 50% no-repeat;
    }
    input[type="file"]{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  .w_108{
    width: 108px;
  }
  .w270{
    width: 270px;
  }
  .w506{
    width: 506px;
  }
  .w162{
    width: 162px;
  }

/*.required_row{
  position: relative;
}*/
  /*.required_row:before{
    display: block;
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 12px;
    color: red;
    content: "*";
  }*/
[type="mail"]::-webkit-input-placeholder {font-style: italic; color:#7d7d7d;}
[type="mail"]::-moz-placeholder          {font-style: italic; color:#7d7d7d;}/* Firefox 19+ */
[type="mail"]:-moz-placeholder           {font-style: italic; color:#7d7d7d;}/* Firefox 18- */
[type="mail"]:-ms-input-placeholder      {font-style: italic; color:#7d7d7d;}

::-webkit-input-placeholder {color:#7d7d7d;}
::-moz-placeholder          {color:#7d7d7d;}/* Firefox 19+ */
:-moz-placeholder           {color:#7d7d7d;}/* Firefox 18- */
:-ms-input-placeholder      {color:#7d7d7d;}

/*================================>> Footer <<========================================*/
footer{
  position: relative;
  padding:16px 0 26px;
}
.footer_inner{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px dashed #d8d8d8;
}
footer:before{
  background: url(../images/footer_bg.png) 50% 0 no-repeat;
  width: 100%;
  height: 62px;
  position: absolute;
  top: -62px;
  left: 0;
  right: 0;
  content: "";
}
.license{
  width: 470px;
}



/*------------------- animation ------------------*/

[data-animation]{
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
  visibility: hidden;
  opacity: 0;
}

[data-animation="right"]{
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

[data-animation="left"]{
  -moz-transform: translateX(-20px);
  -webkit-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

[data-animation="top"]{
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

[data-animation="bottom"]{
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

[data-animation="scale"]{
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

[data-animation="fade"]{
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/*
[data-wait="100"]{
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
[data-wait="200"]{
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
[data-wait="300"]{
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}
[data-wait="400"]{
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}
[data-wait="500"]{
  -webkit-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
[data-wait="600"]{
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}
[data-wait="700"]{
  -webkit-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}
[data-wait="900"]{
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms;
}
[data-wait="1000"]{
  -webkit-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
[data-wait="1100"]{
  -webkit-transition-delay: 1100ms;
  -o-transition-delay: 1100ms;
  transition-delay: 1100ms;
}
[data-wait="1200"]{
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
[data-wait="1300"]{
  -webkit-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}
[data-wait="1400"]{
  -webkit-transition-delay: 1400ms;
  -o-transition-delay: 1400ms;
  transition-delay: 1400ms;
}
[data-wait="1500"]{
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
}
[data-wait="1600"]{
  -webkit-transition-delay: 1600ms;
  -o-transition-delay: 1600ms;
  transition-delay: 1600ms;
}
[data-wait="1700"]{
  -webkit-transition-delay: 1700ms;
  -o-transition-delay: 1700ms;
  transition-delay: 1700ms;
}
[data-wait="1800"]{
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  transition-delay: 1800ms;
}
[data-wait="1900"]{
  -webkit-transition-delay: 1900ms;
  -o-transition-delay: 1900ms;
  transition-delay: 1900ms;
}
[data-wait="2000"]{
  -webkit-transition-delay: 2000ms;
  -o-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
[data-wait="2200"]{
  -webkit-transition-delay: 2200ms;
  -o-transition-delay: 2200ms;
  transition-delay: 2200ms;
}
[data-wait="2400"]{
  -webkit-transition-delay: 2400ms;
  -o-transition-delay: 2400ms;
  transition-delay: 2400ms;
}
[data-wait="2600"]{
  -webkit-transition-delay: 2600ms;
  -o-transition-delay: 2600ms;
  transition-delay: 2600ms;
}
[data-wait="2800"]{
  -webkit-transition-delay: 2800ms;
  -o-transition-delay: 2800ms;
  transition-delay: 2800ms;
}*/


[data-animation].animated{
  opacity: 1;
  visibility: visible;
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
}

[class^="arrow"]{
  position: absolute;
}

.arrow1{
  right: 6px;
  bottom: -64px;
}
.arrow2{
  left: 8px;
  top: -140px;
}
.arrow3{
  left: 450px;
  top: 115px;
}

.arrow4{
  left: 407px;
  top: 309px;
}
.arrow5{
  left: 450px;
  top: 27px;
}


.popup{
  width: 701px;
  min-height: 400px;
}
  .arcticmodal-close{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 21px;
    top: 16px;cursor: pointer;
    background: url(../images/close_icon.png) 0 0 no-repeat;
  }

  #success_modal{
    padding: 50px 60px 305px;
    background: #fff url(../images/popup_success_img.png) bottom right no-repeat;
  }
  #error_modal{
    padding: 50px 100px 30px 50px;
    background: #fff url(../images/error_modal_bg.png) right bottom no-repeat;
  }


/*arctic modal*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


.video_popup{
  width: 675px;
  height: 387px;
  background: #747272;
  padding: 8px;
}

.more_info_popup{
  width: 780px;
  font-size: 17px;
  line-height: 1.23;
  background: #fff;
  padding: 80px 60px 50px;
}

.price_table{
  width: 100%;
}
  .price_table th{
    text-align: left;
    font-size: 13px;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    background-color: #ecf2f6
  }
  .price_table th,
  .price_table td{
    vertical-align: middle;
    padding: 12px 10px;
  }
  .price_table td{
    border-bottom: 1px solid #b7b7b7;
  }

  .price_table_item1,
  .price_table_item4{
    width: 30%;
  }
  .price_table_item2,
  .price_table_item3{
    width: 20%;
  }


  .step_item{
    float: left;
    width: 172px;
    margin-left: 70px;
    text-align: center;
    position: relative;
  }
  .steps_box .step_item:first-child{
    margin-left: 0;
  }
  .step_item:after{
    display: block;
    width: 76px;
    height: 17px;
    content: "";
    position: absolute;
    left: 100%;
    top: 50px;
    background: url(../images/step_arrow.png) 0 0 no-repeat;
  }
  .steps_box .step_item:last-child:after{
    display: none;
  }
  .step_item_caption{
    padding: 18px 0 0;
  }
  .jq-checkbox.checked{
    
  }

  #sendOrder.disable{
    background: #9d9d9d;
    cursor: default;
  }

  #birth_error,
  .name_error{
    position: absolute;
    z-index: 9999;
    padding: 5px;
    left: 0;
    bottom: 100%;
    display: none;
    right: 0;
    font-size: 13px;
    text-align: center;
    border: 1px solid rgb(255, 173, 51);
    background: rgb(255, 255, 170)
  }